{% extends "crm/base.html" %}
{% block style %}

.students {
    width:100%;
    justify-content:center;
    align-items:center;

}
table {
    width:75rem;
    text-align:center;
    margin-top:50px;
    margin-left:140px;
}
table th {
    background-color:#34ebd2;
    font-size:1.3rem;
    padding:.3rem;

}
td {
    font-size:1.1rem;
    font-weight:400;
    padding:.2rem;
    margin-top:.5rem;
}
{% endblock style %}


{% block body %}
<div class='main'>
    <div class='students'>
        <table>
            <form method='post' enctype="multipart/form-data">
        <tr>
            <th>Serial no.</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Contect</th>
            <th>Course</th>
            <th>Branch</th>
            <th>year with sem</th>
            <th>CGPA</th>
            <th>Result</th>
        </tr>
        {% for i in student %}
        <tr> 
            <td>{{forloop.counter}}.</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.contect}}</td>
            <td>{{i.course}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.year_sem}}</td>
            <td>{{i.cgpa}}</td>
            <td>{% if i.result %}
                <img src="{{i.result.url}}" width="100px" alt='network connection error'>
                {% endif %}
            </td>
            {% endfor %} 
        </tr>
        
    </form>
</table>
</div>
</div>
{% endblock body %}
